
.client-bg{background: var(--Dark-parma-violet); top: 48px; height: calc(100% - 48px);}
.client-category-filter{padding: 24px; background: var(--Pale-Parma-Violet); border-radius: 24px; }
ul.client-category{margin: 0; gap: 12px;}
.client-category-main{gap: 8px; padding: 14px 16px; line-height: normal; border-radius: 16px; background: var(--white); color: var(--black);}
.client-category-main:hover{color: var(--Dark-parma-violet);}
.active.client-category-main{color: var(--Dark-parma-violet);}
.client-category-list{margin: 0; width: fit-content;}
.client-category-list::before{display: none;}
.client-category-list.more-category .client-category-main{flex-direction: row-reverse; background: transparent; }
.client-category-list.more-category{border: 2px solid var(--tint-bg-blue); border-radius: 16px;}
.client-category-list.hide-category{display: none;}
.hide-more-category{display: none;}
.client-category-thumb{width: 16px; height: auto; top: -3px; position: relative;}
.client-category-icon img {object-fit: contain;}
.more-category .client-category-thumb{width: 28px; height: 8px;}
.more-category .client-category-text{top: -2px; position: relative;}
.client-category-icon{position: relative;}
body.archive .client-category-icon{top: -2px;}
.client-category-text{font-size: 16px; line-height: 20px; font-weight: 900;}

.client-category-search > input { padding: 16px 40px 16px 16px; font-size: 16px; line-height: 16px; background: var(--white); border: 2px solid var(--white); border-radius: 12px; height: 48px; font-weight: 500; font-family: "Inter", sans-serif;}
.client-category-search ::placeholder{color: var(--black); font-weight: 500;}
.client-search-btn{width: 16px; height: 16px; font-size: 1rem; line-height: 1.5; padding: 0; right: 16px; top: 16px; color: var(--Dark-parma-violet); background: none; position: absolute; transition-duration: .75s; transition-timing-function: cubic-bezier(0.075,0.82,0.165,1); transition-property: opacity,visibility,color; transition-delay: 0s; } 
.client-search-btn:hover{color: var(--Mid-parma-violet);}
.client-search-btn input{width: 100%; height: 100%; padding: 0; font-size: 0; border: none; position: absolute;}
.client-search-btn input:hover{background: none;}
.client-search-btn input[type="submit"]:focus{background-color: transparent;}

.client-item{background: var(--white); color: var(--black); border-radius: 24px; gap: 32px; padding: 32px; min-height: 284px; text-align: center; flex-direction: column;}
.client-item-thumb{max-width: 200px; max-height: 56px;}

@media screen and (min-width: 1024px) {
    .client-main{padding: 0 0 72px;}
    .search-title{margin-bottom: 48px;}
    .client-category-filter{gap: 64px; margin-bottom: 56px;}
    ul.client-category{flex: 1;}
    .client-category-search-form{flex: 0 0 350px;}
    .list_count:not(:last-child){margin-bottom: 48px;}
    .client-lists{gap: 48px; }
    .client-btn{gap: 8px;}
    .client-btn-line{margin: 0; flex: 1; background: var(--white); height: 2px; border-radius: 2px;}
    .client-item{flex: 0 0 284px;}
    .client-category-list{height: 48px;}
}

@media screen and (max-width: 1349px) and (min-width: 1024px){
    .list_count:not(:last-child){margin-bottom: 20px;}
    .client-lists{gap: 20px;}
    .client-item{flex: 0 0 calc(25% - 15px); padding: 20px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .client-main{padding: 0 0 72px;}
    .search-title{margin: 48px 0 0;}
    .client-category-filter{margin-bottom: 30px; gap: 12px;}
    .client-category-search-form{flex: 1;}
    .list_count:not(:last-child){margin-bottom: 20px;}
    .client-lists{gap: 20px;}
    .client-item{flex: 0 0 calc(50% - 10px);}
    .client-btn{margin-top: 48px;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .client-bg{top: 194px; height: calc(100% - 194px);}
    .client-main{padding: 0 0 72px;}
    .search-title{margin: 48px 0 0;}
    .client-category-filter{padding: 16px; gap: 10px;}
    ul.client-category{gap: 10px 8px; align-items: center;}
    .client-category-list{width: 100%; flex: 0 0 calc(50% - 4px);}
    .client-category-main{justify-content: center;}
    .client-category-search-form{width: 100%;}
    .list_count:not(:last-child){margin-bottom: 24px;}
    .client-lists{gap: 24px;  margin-top: 30px;}
    .client-item{font-size: 20px; line-height: 24px;}
    .client-btn{margin-top: 48px;}
    .client-btn span{width: fit-content;}
    .client-category-text{flex: 1;}
    .more-category  .client-category-text{flex: inherit;}
}