:root {
    --black: #000000;
    --black-10: rgb(0 0 0 / 10%);
    --black-25: rgb(0 0 0 / 25%);
    --black-50: rgb(0 0 0 / 50%);
    --black-75: rgb(0 0 0 / 75%);
    --black-80: rgb(0 0 0 / 80%);
    --white: #ffffff;
    --white-18: rgb(255 255 255 / 18%);
    --white-20: rgb(255 255 255 / 20%);
    --white-22: rgb(255 255 255 / 22%);
    --white-50: rgb(255 255 255 / 50%);
    --white-60: rgb(255 255 255 / 60%);
    --white-70: rgb(255 255 255 / 70%);
    --white-90: rgb(255 255 255 / 90%);
    --sky-blue:  #007DEB;
    --illumin-blue: #3207FF;
    --purple-color: #8200F0;
    --slate-color: #4F6069;
    --tin-color:  #F0F5FA;
    --light-purple: #FBF6FF;
    --error: #f00;

    --tint-bg-blue: #E5F2FD;
    --sky: #5129FF;
    --sun: #FFCD00;
    --light-blue: #007deb;

    /* new color */

    --Dark-parma-violet: #3A186A;
    --Pale-Parma-Violet: #F5EDFD;
    --Mid-parma-violet: #897AE9;

    --Gradient-Horizontal: linear-gradient(90deg, #3A186A 0%, #897AE9 100%);
}