.pattern-cta-circle{width: 336px; height: 336px; right: -142px; top: 0; opacity: 0.15; background-image: url('images/pattern-circle.svg'); background-repeat: no-repeat; background-size: contain; position: absolute; z-index: 1;}
.customizable-cta-wrap{padding: 69px 0 78px;}
.customizable-cta-main{padding: 64px; background-color: var(--white); box-shadow: 0px 0px 128px rgba(130, 0, 240, 0.2);}
.customizable-cta-text span.optional-text{margin-bottom: 12px;}
.customizable-cta-text h2{font-size: 56px; line-height: 64px; margin-bottom: 13px;}
.customizable-cta-image{z-index: 2;}

/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    .customizable-cta-text{font-size: 20px; line-height: 28px;}
}
@media only screen and (min-width: 1024px){
    .customizable-cta-main{gap: 64px; align-items: center; min-height: 388px;}
    .customizable-cta-text{flex: 0 0 560px;}
    .customizable-cta-image{flex: 0 0 calc(100% - 624px); max-width: 528px; right: 80px; top: -87px; position: absolute;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
	.customizable-cta-main {gap: 30px; padding: 64px 30px; } 
	.customizable-cta-text {flex: 0 0 470px; font-size: 18px; line-height: 26px; }
	.customizable-cta-image {flex: 0 0 calc(100% - 500px); max-width: 515px; right: -60px; top: -87px; } 
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
	.customizable-cta-main{display: block;}
	.customizable-cta-image{transform: translateY(-150px);margin: 0 auto -150px; max-width: 500px;}
	.customizable-cta-text{padding-top: 50px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
	.customizable-cta-wrap {padding: 69px 0 34px; } 
	.customizable-cta-main{padding: 0; display: block;}
	.customizable-cta-image{transform: translateY(-45px);margin: 0 auto -45px; max-width: 500px; position: relative; z-index: 1;}
	.pattern-cta-circle{width: 184px; height: 184px; right: -75px; background-image: url('images/pattern-circle-sm.svg');}
	.customizable-cta-text{padding: 24px 30px 30px;}
	.customizable-cta-text h2{font-size: 32px; line-height: 40px;}
}