
 .footer-main{padding: 64px 64px 80px; background-color: var(--tint-bg-blue); border-radius: 24px 24px 0 0;}
 .footer-lt .footer-logo{max-width: 232px; margin-bottom: 42px;}


 ul.footer-links{margin: 0 0 44px; gap: 32px}
 ul.footer-links > li{padding-left: 32px; margin-bottom: 0;}
 ul.footer-links > li:first-child{padding-left: 0; border-left: 0;}
 ul.footer-links > li:before{width: 1px; height: 100%; top: 0; left: 0; background-color: var(--sky); opacity: 0.25;}
 ul.footer-links > li:first-child::before{display: none;}
 ul.footer-links > li a{font-size: 16px; line-height: 20px;}
 ul.footer-links > li > a{color: var(--Black); font-weight: 400; }
 ul.footer-links > li > ul{margin: 9px 0 0 0;}
 ul.footer-links > li > ul > li:before{display: none;}
 ul.footer-links > li > ul > li{margin-bottom: 6px;}
 ul.footer-links > li > ul > li:last-child{margin-bottom: 0;}
 ul.footer-links > li > ul > li a{font-weight: 700;}

.footer-btns{gap: 40px;}
.footer-btns .button{flex: 0 0 191px;}
ul.social-icons{margin: 0; gap: 8px; flex: 1;}
ul.social-icons > li{margin: 0;}
ul.social-icons > li::before{display: none;}
ul.social-icons > li > a{background-color: var(--white); width: 48px; height: 48px; border-radius: 16px;}
ul.social-icons > li > a:hover{background-color: var(--sky); color: var(--white);}



.copyrights-main {font-size:12px; line-height:16px; color: var(--black-80);}
ul.copyright-links{margin: 0; justify-content: center;}
ul.copyright-links > li::before{display: none;}
ul.copyright-links > li::after{content: ""; position: absolute; width: 1px; height: 20px; right: -27px; top: 50%; transform: translateY(-50%); background: var(--sky); opacity: 0.25;}
ul.copyright-links > li:last-child::after{display: none;}
ul.copyright-links > li{margin: 0;}
ul.copyright-links > li > a{color: var(--black-80);}
ul.copyright-links > li.current-menu-item > a, 
ul.copyright-links > li > a:hover{color: var(--sky);} 


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .footer-main{gap: 72px; margin-top: 60px;}
    .footer-lt{flex: 1;}
    .footer-rt{flex: 0 0 370px;}
    .copyrights-main{gap: 16px 56px;}
    ul.copyright-links{gap: 16px 55px; flex: 1; width: fit-content;}
    ul.footer-links > li:first-child{min-width: 220px;}

    .footer-rt-img {width: 370px; right: -62px; position: relative; }
    .footer-rt-img figure{position: relative; width: 178px; margin-bottom: -16px;}
    .footer-rt .footer-rt-img figure:nth-child(2n) { left: -25px; }
}   
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .footer-main{gap: 72px 30px; padding: 64px 30px 80px; justify-content: space-between;}
    ul.footer-links{gap: 20px;}
    ul.footer-links > li{min-width: auto; width: calc(33.333% - 20px);}
    ul.footer-links > li:first-child{min-width: inherit;}
    .footer-rt .footer-rt-img{justify-content: center;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .footer-main{padding: 40px 40px 64px;}
    ul.footer-links > li{min-width: auto; flex: 0 0 calc(33.333% - 22px);}
    .footer-lt{margin-bottom: 72px; width: 100%;}
    .footer-rt{margin-bottom: 48px; width: 100%;}
    .copyrights-main{gap: 25px;}
    ul.copyright-links{gap: 25px;  flex: 1;}
    ul.copyright-links > li::after{right: -12px}
    .footer-rt .footer-rt-img{justify-content: center; width: calc(100% + 60px); left: -30px; position: relative;}
    .footer-rt-img figure{position: relative; flex: 0 0 25%; margin: 0 -5px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .footer-main{padding: 40px 24px 64px;}
    .footer-lt{width: 100%; margin-bottom: 38px;}
    .footer-lt .footer-logo{margin: 0 auto 24px;}
    ul.footer-links{margin: 0 0 24px; justify-content: center;}
    .footer-btns{gap: 24px;}
    .footer-rt{width: 100%; margin-bottom: 40px;}
    .footer-rt .footer-rt-img{justify-content: center; width: calc(100% + 60px); left: -30px; position: relative;}
    .footer-rt-img figure{position: relative; flex: 0 0 25%; margin: 0 -5px;}
    ul.footer-links > li:first-child, ul.footer-links > li:last-child{display: none;}
    ul.footer-links > li::before{display: none;}
    ul.footer-links > li.footer-lists > a{display: none;}
    ul.footer-links > li{padding: 0;}
    ul.footer-links > li > ul{display: flex; margin: 0; gap: 10px 34px; flex-wrap: wrap;}
    ul.footer-links > li > ul > li {margin: 0;}
    ul.footer-links > li > ul > li::before{display: block;}
    ul.footer-links > li > ul > li::before{content: ""; position: absolute; width: 2px; height: 20px; left: -16.5px; top: 50%; transform: translateY(-50%); background: var(--sky); opacity: 0.25;}
    ul.footer-links > li > ul > li:first-child::before, ul.footer-links > li > ul > li:nth-child(3n + 1)::before{display: none;}
    .footer-btns{flex-direction: column;}
    .footer-btns .button{flex: 1;}
    ul.social-icons {justify-content: center; gap: 11px;}
    ul.social-icons > li span::before{font-size: 20px;}
    .copyrights-main{flex-direction: column;}
    ul.copyright-links{gap: 8px 25px; justify-content: center; max-width: 300px;}
    ul.copyright-links > li{font-size: 12px; line-height: 20px; color: var(--black);}
    ul.copyright-links > li a{color: rgba(0, 0, 0, 0.8);}
    ul.copyright-links > li:first-child{flex: 100%; text-align: center;}
    ul.copyright-links > li::after{right: -12px;}
    ul.copyright-links > li:not(:nth-child(3))::after, ul.copyright-links > li:not(:nth-child(5))::after{display: none;}
    ul.copyright-links > li:nth-child(3)::after, ul.copyright-links > li:nth-child(5)::after{content: ""; position: absolute; width: 1px; height: 20px; left: -12px; top: 50%; transform: translateY(-50%); background: var(--sky); opacity: 0.25; display: block;}
    ul.footer-links > li{font-size: 0; line-height: normal;}
    /* .footer-rt .footer-rt-img img { filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.31)); } */

    /* .footer-rt-img {width: 380px; right: 14px; position: relative; } */
    /* .footer-rt-img figure{position: relative; flex: 0 0 calc(25% - 7px);} */
    /* .footer-rt .footer-rt-img figure:nth-child(2n) { left: -25px; }
    .footer-rt .footer-rt-img figure:nth-child(3n) { left: -61px; }
    .footer-rt .footer-rt-img figure:nth-child(4n) { left: -25px; } */
  
}
@media only screen and (max-width: 370px) and (min-width: 200px){

}