
.footer-wrapper{padding: 64px 0 48px;}

ul.copyright-links{margin: 0;}
ul.copyright-links > li::before{width: 1px; height: 8px; left: -20px; top: 50%; transform: translateY(-50%); background: var(--sky-blue);}
ul.copyright-links > li:first-child::before{display: none;}
ul.copyright-links > li{margin: 0;}
ul.copyright-links > li > a{color: var(--black);}
ul.copyright-links > li.current-menu-item > a, ul.copyright-links > li > a:hover{color: var(--sky-blue);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){

}   
@media only screen and (min-width: 1300px){

}
@media only screen and (max-width: 1299px) and (min-width: 1024px){

}
@media only screen and (max-width: 1023px) and (min-width: 768px){

}
@media only screen and (max-width: 767px) and (min-width: 200px){
  
}
@media only screen and (max-width: 370px) and (min-width: 200px){

}