.main-header{width: 100%; top: 0; left: 0; z-index: 800; position: fixed; transition-duration: 0.5s; transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-property: transform, margin-top; transition-delay: 0s; }
.logo a{width: 100%; height: auto; display: block;}
.logo img{width: 100%;}
.fixed_header, .sticky_header{background-color: var(--white); box-shadow: 0 0 20px var(--black-10);}
body.page-template-request-a-demo .main-header{display: none;}

ul.langauage-btns{margin: 0; gap: 16px; width: fit-content; order: 3;}
ul.langauage-btns > li{margin: 0;}
ul.langauage-btns > li::before{width: 2px; height: 22px; background: var(--black); opacity: 0.25; left: -8px; top: 1px;}
ul.langauage-btns > li:first-child::before{display: none;}
ul.langauage-btns > li > a{color: var(--black); font-size: 16px; line-height: 16px; font-family: 'Graphik-Regular', sans-serif; }
ul.langauage-btns > li > a:hover{color: var(--sky);}

ul.nav-links{width: fit-content; margin: 0; gap: 0 40px;}
ul.nav-links li{margin: 0;}
ul.nav-links li:first-child::before{display: none;}
ul.nav-links li::before{width: 2px; height: 16px; top: 5px; left: -20px; background: var(--sun);}
ul.nav-links li a{ color: var(--black); font-size: 16px; line-height: 20px; }
ul.nav-links li a:hover{color: var(--sky);}
.white-header:not(.fixed_header) ul.nav-links li a{color: var(--white);}
.white-header:not(.fixed_header) ul.nav-links li a:hover{color: var(--sun);}

.main-header:not(.white-header) .logo-white{display: none;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .header{gap: 0 32px;}
    .logo{flex: 0 0 180px; order: 1;}
    .toogle-btn{display: none;}
    .navigation{flex: 1; gap: 0 48px; order: 2;}
    .white-header .navigation{gap: 0 16px;}
    .white-header ul.main_menu{gap: 0 33px;}
    ul.main_menu {gap: 0 48px; flex: 1; justify-content: flex-end; margin: 0; padding: 0; }
    ul.main_menu li::before{display: none;}
    ul.main_menu > li {margin: 0;}
    ul.main_menu > li:not(.button) > a{padding: 39px 0 40px; display: inline-block; font-size: 20px; line-height: 24px; font-family: 'Graphik-Bold', sans-serif; color: var(--black); position: relative;}
    ul.main_menu > li:not(.button).current-page-parent > a, ul.main_menu > li:not(.button).current-menu-parent > a, ul.main_menu > li:not(.button).current-menu-item > a, ul.main_menu > li:not(.button) > a:hover{color: var(--illumin-blue);}
    ul.main_menu > li.menu-item-has-children:not(.button) > a::after{width: 80px; height: 8px; bottom: -4px; left: 50%; transform: translateX(-50%);  margin: 0 auto; background-color: var(--sun); content: ""; display: block; position: absolute; opacity: 0; transition: all 0.3s ease-in-out; z-index: 2; }
    ul.main_menu > li.menu-item-has-children:hover:not(.button) > a::after, ul.main_menu > li.menu-item-has-children:not(.button) > a:hover::after{bottom: -4px; opacity: 1;}
    ul.main_menu > li.button > a{color: var(--white); text-transform: none;}
    ul.main_menu > li > ul{opacity: 0; height: 0; margin: 0; min-width: 288px; left: 50%; transform: translateX(-50%); visibility: hidden; border-radius: 0 0 8px 8px; position: absolute; background-color: var(--black); transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; box-shadow: 0 0 20px var(--black-10);}
    ul.main_menu > li:hover > ul{opacity: 1; height: auto; visibility: visible; padding: 32px 32px 16px; }
    ul.main_menu > li > ul > li{margin: 0 0 16px;}
    ul.main_menu > li > ul > li > a{color: var(--white); font-size: 20px;}
    ul.main_menu > li > ul > li.current-menu-item > a, ul.main_menu > li > ul > li > a:hover{color: var(--sky-blue);}

    ul.main_menu > li.product-menu-item{position: static;}
    ul.main_menu > li.product-menu-item > ul{opacity: 0; visibility: hidden; max-height: 0; padding: 57px; overflow: hidden; gap: 24px; width: 100vw; margin: 0 auto; left: 0; right: 0; transform: none; max-width: 1428px; display: flex; background-color: transparent; border-radius: 0 0 24px 24px; z-index: 1; transition: all 0.45s ease-in-out;}
    ul.main_menu > li.product-menu-item:hover > ul{opacity: 1; visibility: visible; max-height: inherit;}
    ul.main_menu > li.product-menu-item > ul::after{opacity: 1; width: 1000vw; height: 100%; top: 0; left: -100vw; content: ""; background-color: var(--tint-bg-blue); border-radius: 0px 0px 24px 24px; position: absolute; z-index: -1;}

    ul.main_menu > li.product-menu-item > ul > li{flex: 0 0 264px; z-index: 2;}
    ul.main_menu > li.product-menu-item > ul > li:nth-child(3){flex: 0 0 calc(100% - 288px); padding: 0 93px;}
    ul.main_menu > li.new-product-item > ul{padding: 24px 64px 0;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(1){flex: 0 0 328px; padding-top: 44px;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(2){flex: 0 0 318px; padding-top: 44px;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3){flex: 1; padding-left: 52px; padding-right: 64px; position: relative;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3){flex: 1; padding: 0 0 0 48px;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3)::before{position: absolute; content: ""; width: 4px; height: 100%; left: 0; top: 0; background: var(--Gradient-Vertical, linear-gradient(180deg, #8200F0 0%, #342FE7 100%)); border-radius: 2px; opacity: 0.25; display: block;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3) .product-menu-flex{flex-direction: row-reverse;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3) .product-menu-image{position: relative; bottom: -16px;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3) .product-menu-text > p{flex: 1; max-width: 296px; font-size: 24px; line-height: 28px; font-family: 'Graphik-Bold', sans-serif; color: var(--sky);}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3) .product-menu-text a.button{padding-right: 13px; color: var(--black); display: inline-block; font-size: 16px; line-height: 20px; font-family: 'Graphik-Bold', sans-serif; position: relative; background: transparent; padding: 0 17px 0 0;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3) .product-menu-text a.button::after{top: -1px; left: auto; right: -4px; width: 20px; height: 20px; content: ""; background: url('./images/right-arrow.svg') no-repeat; background-size: contain; background-position: center right; display: block; position: absolute; transition: all .5s ease; }
    ul.main_menu > li.new-product-item > ul > li:nth-child(3) .product-menu-text a.button:hover::after{right: 0; opacity: 0;}
    
    ul.main_menu > li.product-menu-item.new-menu > ul{gap: 0;}
    ul.main_menu > li.product-menu-item.new-menu > ul > li{margin-bottom: 0;}
    ul.main_menu > li.product-menu-item.new-menu > ul > li:nth-child(1){flex: 0 0 50%; padding-top: 44px; padding-right: 35px;}
    /* ul.main_menu > li.new-menu > ul > li:nth-child(2){flex: 0 0 318px; padding-top: 44px;} */
    ul.main_menu > li.new-menu > ul > li:nth-child(2){flex: 1; padding-left: 52px; padding-right: 64px; position: relative;}
    ul.main_menu > li.new-menu > ul > li:nth-child(2){flex: 1; padding: 0 0 0 48px;}
    ul.main_menu > li.new-menu > ul > li:nth-child(2)::before{position: absolute; content: ""; width: 4px; height: 100%; left: 0; top: 0; background: var(--Gradient-Vertical, linear-gradient(180deg, #8200F0 0%, #342FE7 100%)); border-radius: 2px; opacity: 0.25; display: block;}
    ul.main_menu > li.new-menu > ul > li:nth-child(2) .product-menu-flex{flex-direction: row-reverse;}
    ul.main_menu > li.new-menu > ul > li:nth-child(2) .product-menu-image{position: relative; bottom: -16px;}
    ul.main_menu > li.new-menu > ul > li:nth-child(2) .product-menu-text > p{flex: 1; max-width: 296px; font-size: 24px; line-height: 28px; font-family: 'Graphik-Bold', sans-serif; color: var(--sky);}
    ul.main_menu > li.new-menu > ul > li:nth-child(2) .product-menu-text a.button{padding-right: 13px; color: var(--black); display: inline-block; font-size: 16px; line-height: 20px; font-family: 'Graphik-Bold', sans-serif; position: relative; background: transparent; padding: 0 17px 0 0;}
    ul.main_menu > li.new-menu > ul > li:nth-child(2) .product-menu-text a.button::after{top: -1px; left: auto; right: -4px; width: 20px; height: 20px; content: ""; background: url('./images/right-arrow.svg') no-repeat; background-size: contain; background-position: center right; display: block; position: absolute; transition: all .5s ease; }
    ul.main_menu > li.new-menu > ul > li:nth-child(2) .product-menu-text a.button:hover::after{right: 0; opacity: 0;}


    ul.main_menu > li.product-menu-item > ul > li > a{margin-bottom: 14px; display: inline-block; font-size: 16px; line-height: 1.5; color: var(--black); display: inline-block;}
    ul.main_menu > li.product-menu-item > ul > li > ul{margin: 0;}
    ul.main_menu > li.product-menu-item > ul > li > ul > li{margin-bottom: 8px;}
    ul.main_menu > li.product-menu-item > ul > li > ul > li > a{font-size: 20px; line-height: 28px; color: var(--sky); font-family: 'Graphik-Bold', sans-serif;} 
	ul.main_menu > li.product-menu-item > ul > li > ul > li.current-menu-item > a, ul.main_menu > li.product-menu-item > ul > li > ul > li > a:hover{color: var(--sky-blue);}

    .product-menu-flex{color: var(--white); gap: 48px;}
    .product-menu-image{flex: 0 0 296px;}
    .product-menu-image::before{width: 128px; height: 128px; left: -62px; top: 50%; transform: translateY(-50%); background-image: url('images/pattern-sm.svg'); background-repeat: no-repeat; content: ""; display: block; position: absolute;}
    .insight-nav-item .product-menu-image{max-width: 178px;}
    .insight-nav-item .product-menu-image figure.object-fit{text-align: right;}

    .product-menu-text{flex: 1; max-width: 296px; font-size: 18px; line-height: 26px; font-family: 'Graphik-Light', sans-serif; color: var(--black);}
    .product-menu-text span{margin-bottom: 16px; display: block; font-size: 24px; line-height: 28px; color: var(--sky-blue);}
    
    .site-main-cover{padding-top: 104px;}
    body.home .site-main-cover{padding-top: 0;}
    body.home .fixed_header{transform: translateY(0);}

    .fixed_header ul.main_menu > li:not(.button) > a{font-size: 1rem; line-height: 20px; padding: 26px 0 26px;}
    .fixed_header ul.main_menu > li.button{padding: 4px 17px 6px;}
    .fixed_header ul.main_menu > li.button > a{font-size: 16px; line-height: 1rem;}

    ul.main_menu > li.no-hash > a{pointer-events: none; cursor: inherit;}
    ul.main_menu > li.product-menu-item > ul > li.no-hash > a{pointer-events: none; cursor: inherit;}

    ul.main_menu > li.product-menu-item > ul.nav_item_two{justify-content: center;}
    ul.main_menu > li.product-menu-item > ul.nav_item_two > li:nth-child(2){ flex: 0 0 calc(100% - 288px); padding: 0 93px;}
    ul.main_menu > li.product-menu-item.new-menu > ul.nav_item_two > li:nth-child(2){flex: 0 0 50%; margin-right: auto; padding-right: 0;}
    ul.main_menu > li.insight-nav-item > ul.nav_item_two > li:nth-child(2){max-width: 650px; margin-right: auto;}

    .nav-btns .text-link{padding-right: 17px;}
    .nav-btns .text-link::after{right: -3px;}
    .nav-btns .text-link:hover::after{right: 0; opacity: 0;}

    .white-header:not(.fixed_header) ul.main_menu > li:not(.button) > a{color: var(--white);}
    .white-header:not(.fixed_header) ul.main_menu > li:not(.button) > a:hover{color: var(--sun);}
    
    .white-header ul.main_menu > li.button{background: var(--sun); font-size: 16px; line-height: 20px; border-radius: 12px; padding: 9px 17px 7px;}
    .white-header ul.main_menu > li.button > a{ color: var(--black);}

    .white-header:not(.fixed_header) .nav-btns a.sign_in{padding: 8px 29px 8px 12px; background: rgba(0, 0, 0, 0.20); border-radius: 12px; color: var(--white); display: flex; align-items: center; gap: 7px; font-size: 16px; line-height: 20px; font-family: "Graphik-Bold", sans-serif;}
    .white-header:not(.fixed_header) .nav-btns a.sign_in::after { width: 13px; height: 19px; content: ""; display: block; background-image: url('images/right-pointer@2x.png'); background-size: contain; background-repeat: no-repeat; position: absolute; top: 8px; right: 9px; }
    .white-header:not(.fixed_header) .nav-btns a.sign_in:hover{color: var(--sun);}
    .white-header:not(.fixed_header) .nav-btns a.sign_in:hover::after{right: 12px; opacity: 1;}
    .white-header:not(.fixed_header) ul.langauage-btns > li > a{color: var(--white);}
    .white-header:not(.fixed_header) ul.langauage-btns > li > a:hover{color: var(--sun);}

    .white-header:not(.fixed_header) .logo-white{display: block;}
    .white-header.fixed_header .logo-white{display: none;}
    .white-header:not(.fixed_header) .logo-black{display: none;}
}
@media only screen and (max-width: 1499px) and (min-width: 1300px){
    ul.main_menu > li.product-menu-item > ul {padding: 37px; gap: 30px; } 
    ul.main_menu > li.product-menu-item > ul > li:nth-child(3){padding: 0 15px; }

    .product-menu-flex{gap: 20px;}
    .product-menu-image {flex: 0 0 240px; } 

    ul.main_menu > li.product-menu-item.new-menu > ul {gap: 0;} 
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    ul.main_menu{gap: 0 40px;}
    ul.main_menu > li.product-menu-item > ul {padding: 37px; gap: 30px; } 
    ul.main_menu > li.product-menu-item > ul > li {flex: 0 0 215px; }
    ul.main_menu > li.product-menu-item > ul > li:nth-child(3) {flex: 0 0 calc(100% - 384px); padding: 0 15px; }
    ul.main_menu > li.new-product-item > ul > li:nth-child(3) {flex: 0 0 calc(100% - 471px);}

    ul.main_menu > li.product-menu-item.new-menu > ul {gap: 0;} 
    ul.main_menu > li.product-menu-item.new-menu > ul > li:first-child{flex: 0 0 50%;}
    ul.main_menu > li.product-menu-item.new-menu > ul > li:nth-child(2) {flex: 0 0 50%;}

    .product-menu-flex{gap: 20px;}
    .product-menu-image {flex: 0 0 240px; } 
    .product-menu-text p{display: none;}

    ul.main_menu > li.new-product-item > ul > li:nth-child(3) .product-menu-text p{display: block;}
    ul.main_menu > li.product-menu-item.new-menu > ul > li:nth-child(2) .product-menu-text p{display: block;}
    .nav-btns{margin-right: 0;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .header{gap: 0 16px;}
    .logo{flex: 0 0 160px;}
    .navigation{gap: 0 16px;}
    ul.main_menu{gap: 0 20px;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3) .product-menu-text > p {font-size: 19px; line-height: 23px;}
    ul.main_menu > li.product-menu-item.new-menu > ul > li:nth-child(2) .product-menu-text > p {font-size: 19px; line-height: 23px;}
    ul.main_menu > li:not(.button) > a{font-size: 18px; line-height: 22px}
}
@media only screen and (max-width: 1359px) and (min-width: 1024px){
    ul.main_menu > li.new-product-item > ul > li:first-child{flex: 0 0 252px;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(2){flex: 0 0 200px;}
    ul.main_menu > li.new-product-item > ul > li:nth-child(3){padding-left: 35px; padding-right: 32px;}

    ul.main_menu > li.product-menu-item.new-menu > ul > li:first-child{flex: 0 0 50%;}
    ul.main_menu > li.product-menu-item.new-menu > ul > li:nth-child(2){padding-left: 35px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .header{padding: 16px 0;}
    .logo{flex: 0 0 156px;}
    .toogle-btn{width: 40px; height: 40px; padding: 0; flex-direction: column; }
    .toogle-btn:hover{border-radius: 12px;}
    .toogle-btn span:after,
    .toogle-btn span:before {content: ""; position: absolute; left: 0; top: -6px; } 
    .toogle-btn span:after{top: 6px; }
    .toogle-btn span {position: relative; display: block; }
    .toogle-btn span,
    .toogle-btn span:after,
    .toogle-btn span:before {width: 18px; height: 3px; background-color: var(--white); transition: all 0.3s; backface-visibility: hidden; border-radius: 2px; } /* on activation */
    .toogle-btn.on span {background-color: transparent; }
    .toogle-btn.on span:before {transform: rotate(45deg) translate(4px,3px); }
    .toogle-btn.on span:after {transform: rotate(-45deg) translate(5px,-5px); }
    .navigation{margin-top: 80px; display: block; background-color: #CFE4F6; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-property: opacity, visibility, transform; transition-delay: 0s; width: 100%; height: 100vh; left: 0; top: 0; position: fixed; visibility: hidden; opacity: 0; transform: scale(1.05); overflow-y: auto; }
    .navigation.open{visibility: visible; opacity: 1; transform: scale(1); }
    ul.main_menu { display: block; margin: 0; padding: 0; }
    ul.main_menu li::before{display: none;}
    ul.main_menu > li {margin: 0;}
    ul.main_menu > li:not(.button) > a{padding:  20px 20px; display: block; font-size: 20px; line-height: 24px; font-family: 'Graphik-Bold', sans-serif; color: var(--sky); position: relative;}
    ul.main_menu > li.button > a{color: var(--white);}
    ul.main_menu > li:not(.button) > a::after {right: 20px; top: 20px; transform: rotate(180deg); width: 28px; height: 16px; position: absolute; background: url('images/down-arrow.svg') no-repeat; background-size: cover; content: ""; }
    ul.main_menu > li:not(.button) > a.active::after{width: 28px; height: 16px; transform: rotate(0deg); background-size: contain;}
    ul.main_menu > li > ul{display: none; padding: 28px 20px 16px; margin: 0; background: var(--tint-bg-blue);}
    ul.main_menu > li > ul > li{margin-bottom: 0;}
    ul.main_menu > li.product-menu-item > ul > li{margin-top: 30px;}
    ul.main_menu > li.product-menu-item > ul > li:first-child{margin-top: 0;}

    ul.main_menu > li > ul > li > a{margin-bottom: 14px; font-size: 16px; line-height: 1.5; color: var(--black); display: inline-block;}
    ul.main_menu > li > ul > li > a:hover{color: var(--white);}
    ul.main_menu > li > ul > li > ul{margin: 0; display: block !important;}
    ul.main_menu > li > ul > li > ul > li{margin-bottom: 12px;}
    ul.main_menu > li > ul > li > ul > li > a{font-size: 18px; line-height: 26px; color: var(--sky); font-family: 'Graphik-Light', sans-serif;} 
	ul.main_menu > li > ul > li > ul > li > a:hover{color: var(--black);}
    ul.main_menu > li.button{display: none;} 
    .product-menu-flex{display: none;} 
    .site-main-cover{padding-top: 80px;} 
    body.page-template-confirmation .main-header{background-color: var(--white);}
    .nav-btns{padding: 20px 20px; justify-content: space-between; display: flex; flex-wrap: wrap; width: 100%;}
    .white-header:not(.fixed_header) .logo-white{display: block;}
    .white-header:not(.fixed_header) .logo-black{display: none;}
    .white-header.fixed_header .logo-white{display: none;}
    .white-header.fixed_header .logo-black{display: block;}
    .white-header:not(.fixed_header) ul.langauage-btns > li > a{color: var(--white);}
    .white-header:not(.fixed_header) .toogle-btn{background: var(--white);}
    .white-header:not(.fixed_header) .toogle-btn span,
    .white-header:not(.fixed_header) .toogle-btn span::before,
    .white-header:not(.fixed_header) .toogle-btn span::after{background: var(--sky);}
    .white-header:not(.fixed_header) .toogle-btn.on span{background-color: transparent;}

    body.home .site-main-cover{padding-top: 0;} 
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .header{gap: 0 16px; padding: 16px 20px;}
    .logo{margin-right: auto;}
    .toogle-btn{order: 3;}
    ul.langauage-btns{gap: 0; order: 4; flex-direction: column;}
    ul.langauage-btns > li::before { width: 100%; height: 2px; left: 0; top: 0; }
    ul.langauage-btns > li > a{font-size: 14px; line-height: 18px;}

    .white-header ul.nav-links{gap: 0 17px;}
    ul.nav-links li a{font-family: 'Graphik-Bold', sans-serif;}

    .white-header:not(.fixed_header) .nav-links-ipad ul.nav-links > li.nav-link-yellow{background: var(--sun); font-size: 16px; line-height: 20px; border-radius: 16px; padding: 9px 17px 8px; font-family: 'Graphik-Bold', sans-serif; transition-duration: .75s; transition-property: all; transition-delay: 0s; transition-timing-function: cubic-bezier(0.075,0.82,0.165,1); transform: translate3d(.05px,.05px,0) scale(1);}
    .white-header:not(.fixed_header) .nav-links-ipad ul.nav-links > li.nav-link-yellow:hover{transform: perspective(1px) translateZ(0) scale(.95);}
    .white-header:not(.fixed_header) .nav-links-ipad ul.nav-links > li.nav-link-yellow > a{color: var(--black);}
    .white-header:not(.fixed_header) .nav-links-ipad ul.nav-links > li > a.nav-link-sign{padding: 8px 29px 8px 12px; background: rgba(0,0,0,.2); border-radius: 12px; color: var(--white); display: flex; align-items: center; gap: 7px; font-size: 16px; line-height: 20px; font-family: 'Graphik-Bold', sans-serif; }
    .white-header:not(.fixed_header) .nav-links-ipad ul.nav-links > li > a.nav-link-sign::after{width: 13px; height: 19px; content: ""; display: block; background-image: url('images/right-pointer@2x.png'); background-size: contain; background-repeat: no-repeat; position: absolute; top: 8px; right: 9px; transition: all .5s ease;}
    .white-header:not(.fixed_header) .nav-links-ipad ul.nav-links > li > a.nav-link-sign:hover::after{right: 12px; opacity: 1; transform: none;}

    

    .white-header ul.nav-links li::before{display: none;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .toogle-btn{order: 3;}
    .header{padding: 8px 0; gap: 0 12px;}
    .logo{flex: 0 0 116px; margin-right: auto;}
    .navigation{margin-top: 56px;}
    ul.langauage-btns{padding-top: 2px; order: 2;}
    ul.langauage-btns > li::before{left: -9px;}
    .site-main-cover{padding-top: 56px;}

}