.main-header{width: 100%; top: 0; left: 0; z-index: 800; position: fixed; transition-duration: 0.5s; transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-property: transform, margin-top; transition-delay: 0s; }
.logo a{width: 100%; height: auto; display: block;}
.logo img{width: 100%;}
.fixed_header, .sticky_header{background-color: var(--white); box-shadow: 0 0 20px var(--black-10);}
body.page-template-request-a-demo .main-header{display: none;}

ul.langauage-btns{margin: 0; gap: 16px;}
ul.langauage-btns > li{font-size: 16px; line-height: 16px; margin: 0;}
ul.langauage-btns > li > a{color: var(--black);}
ul.langauage-btns > li::before{width: 2px; height: calc(100% + 6px); background: rgba(0, 0, 0, 0.25); left: -8px; top: -4px;}
ul.langauage-btns > li:first-child::before{display: none;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .logo{flex: 0 0 156px;}
    .toogle-btn{display: none;}
    .navigation{flex: 1; gap: 48px;}
    ul.main_menu {gap: 48px; flex: 1; justify-content: flex-end; margin: 0; padding: 0; }
    ul.main_menu li::before{display: none;}
    ul.main_menu > li {margin: 0;}
    ul.main_menu > li:not(.button) > a{padding: 39px 0 40px; display: inline-block; font-size: 20px; line-height: 24px; font-family: 'Graphik-Bold', sans-serif; color: var(--black); position: relative;}
    ul.main_menu > li:not(.button).current-page-parent > a, ul.main_menu > li:not(.button).current-menu-parent > a, ul.main_menu > li:not(.button).current-menu-item > a, ul.main_menu > li:not(.button) > a:hover{color: var(--illumin-blue);}
    ul.main_menu > li.menu-item-has-children:not(.button) > a::after{width: 80px; height: 8px; bottom: -4px; left: 50%; transform: translateX(-50%);  margin: 0 auto; background: var(--sun); content: ""; display: block; position: absolute; opacity: 0; transition: all 0.3s ease-in-out; z-index: 2; }
    ul.main_menu > li.menu-item-has-children:hover:not(.button) > a::after, ul.main_menu > li.menu-item-has-children:not(.button) > a:hover::after{bottom: -4px; opacity: 1;}
    ul.main_menu > li.button > a{color: var(--white); text-transform: none;}
    ul.main_menu > li > ul{opacity: 0; height: 0; margin: 0; min-width: 288px; left: 50%; transform: translateX(-50%); visibility: hidden; border-radius: 0 0 8px 8px; position: absolute; background-color: var(--black); transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;}
    ul.main_menu > li:hover > ul{opacity: 1; height: auto; visibility: visible; padding: 32px 32px 16px; }
    ul.main_menu > li > ul > li{margin: 0;}
    ul.main_menu > li > ul > li > a{color: var(--white); font-size: 20px;}
    ul.main_menu > li > ul > li.current-menu-item > a, ul.main_menu > li > ul > li > a:hover{color: var(--sky-blue);}

    ul.main_menu > li.product-menu-item{position: static;}
    ul.main_menu > li.product-menu-item > ul{opacity: 0; visibility: hidden; max-height: 0; padding: 71.5px 64px; overflow: hidden; gap: 24px; width: 100vw; margin: 0 auto; left: 0; right: 0; transform: none; max-width: 1428px; display: flex; background-color: transparent; border-radius: 0 0 24px 24px; z-index: 1; transition: all 0.45s ease-in-out;}
    ul.main_menu > li.product-menu-item:hover > ul{opacity: 1; visibility: visible; max-height: inherit;}
    ul.main_menu > li.product-menu-item > ul::after{opacity: 1; width: 1000vw; height: 100%; top: 0; left: -100vw; content: ""; background-color: var(--tint-bg-blue); border-radius: 0px 0px 24px 24px; position: absolute; z-index: -1;}

    /* ul.main_menu > li.product-menu-item > ul::before { width: 504px; height: 504px; left: 116px; top: -96px; opacity: .2; background-color: var(--sky-blue); filter: blur(104px); -webkit-filter: blur(104px); z-index: 1; position: absolute; content: ""; } */
    ul.main_menu > li.product-menu-item > ul > li{flex: 0 0 264px; z-index: 2;}
    ul.main_menu > li.product-menu-item > ul > li:nth-child(3){flex: 0 0 calc(100% - 576px); padding: 0 0 0 48px; position: relative;}

    ul.main_menu > li.product-menu-item > ul > li > a{margin-bottom: 14px; display: inline-block; font-size: 16px; line-height: 1.5; color: var(--black); display: inline-block;}
    ul.main_menu > li.product-menu-item > ul > li > ul{margin: 0;}
    ul.main_menu > li.product-menu-item > ul > li > ul > li{margin-bottom: 8px;}
    ul.main_menu > li.product-menu-item > ul > li > ul > li > a{font-size: 20px; line-height: 24px; color: var(--sky); font-family: 'Graphik-Bold', sans-serif;} 
	ul.main_menu > li.product-menu-item > ul > li > ul > li.current-menu-item > a, ul.main_menu > li.product-menu-item > ul > li > ul > li > a:hover{color: var(--sky-blue);}
    .product-menu-flex{color: var(--white); gap: 48px;}
    .product-menu-flex::before{position: absolute; content: ""; width: 4px; height: calc(100% + 74%); left: -53px; top: -48px; background: var(--Gradient-Vertical, linear-gradient(180deg, #8200F0 0%, #342FE7 100%)); border-radius: 2px; opacity: 0.25;}
    .product-menu-image{position: absolute; width: 287px; right: 0; bottom: 0; margin-bottom: -91px;}
    /* .product-menu-image::before{width: 128px; height: 128px; left: -62px; top: 50%; transform: translateY(-50%); background-image: url('images/pattern-sm.svg'); background-repeat: no-repeat; content: ""; display: block; position: absolute;} */
    .insight-nav-item .product-menu-image{max-width: 178px;}
    .insight-nav-item .product-menu-image figure.object-fit{text-align: right;}

    .product-menu-text{flex: 1; max-width: 296px; font-size: 24px; line-height: 28px; font-family: 'Graphik-Bold', sans-serif; color: var(--sky);}
    .product-menu-text span{margin-bottom: 16px; display: block; font-size: 24px; line-height: 28px; color: var(--sky-blue);}
    
    .site-main-cover{padding-top: 104px;}
    body.home .site-main-cover{padding-top: 0;}


    .fixed_header ul.main_menu > li:not(.button) > a{font-size: 1rem; line-height: 20px; padding: 26px 0 26px;}
    .fixed_header ul.main_menu > li.button{padding: 4px 17px 6px;}
    .fixed_header ul.main_menu > li.button > a{font-size: 16px; line-height: 1rem;}

    ul.main_menu > li.no-hash > a{pointer-events: none; cursor: inherit;}
    ul.main_menu > li.product-menu-item > ul > li.no-hash > a{pointer-events: none; cursor: inherit;}

    ul.main_menu > li.product-menu-item > ul.nav_item_two{justify-content: center;}
    ul.main_menu > li.product-menu-item > ul.nav_item_two > li:nth-child(2){ flex: 0 0 calc(100% - 288px); padding: 0 93px;}
    ul.main_menu > li.insight-nav-item > ul.nav_item_two > li:nth-child(2){max-width: 650px;}

    .nav-btns{margin-right: 5px;}

    .white-header ul.main_menu > li:not(.button) > a{color: var(--white);}
    .white-header ul.main_menu > li:not(.button) > a:hover{color: var(--light-blue);}
    .white-header .nav-btns .text-link{color: var(--white);}
    .white-header .nav-btns .text-link:hover{color: var(--light-blue);}
    .white-header ul.langauage-btns > li > a{color: var(--white);}
    .white-header ul.langauage-btns > li > a:hover{color: var(--light-blue);}

    
}
@media only screen and (max-width: 1499px) and (min-width: 1300px){
    .navigation{gap: 30px;}
    ul.main_menu > li.product-menu-item > ul {padding: 37px; gap: 30px; } 
    ul.main_menu > li.product-menu-item > ul > li:nth-child(3){padding: 0 15px; }
    .product-menu-flex{gap: 20px;}
    .product-menu-image {flex: 0 0 240px; } 
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .navigation{gap: 20px;}
    ul.main_menu{gap: 20px;}
    ul.main_menu > li.product-menu-item > ul {padding: 37px; gap: 15px; } 
    ul.main_menu > li.product-menu-item > ul > li {flex: 0 0 19%; }
    ul.main_menu > li.product-menu-item > ul > li:nth-child(3) {flex: 0 0 calc(100% - 384px); padding: 0 0 0 20px; }
    .product-menu-flex{gap: 20px;}
    .product-menu-flex::before{left: -20px;}
    .product-menu-image {width: 240px;} 
    .product-menu-text{max-width: 235px;}

    .nav-btns{margin-right: 0;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .header{padding: 16px 0;}
    .logo{flex: 0 0 156px;}
    .toogle-btn{width: 40px; height: 40px; padding: 0; margin-left: auto; flex-direction: column; }
    .toogle-btn:hover{border-radius: 12px;}
    .toogle-btn span:after,
    .toogle-btn span:before {content: ""; position: absolute; left: 0; top: -6px; } 
    .toogle-btn span:after{top: 6px; }
    .toogle-btn span {position: relative; display: block; }
    .toogle-btn span,
    .toogle-btn span:after,
    .toogle-btn span:before {width: 18px; height: 3px; background-color: var(--white); transition: all 0.3s; backface-visibility: hidden; border-radius: 2px; } /* on activation */
    .toogle-btn.on span {background-color: transparent; }
    .toogle-btn.on span:before {transform: rotate(45deg) translate(4px,3px); }
    .toogle-btn.on span:after {transform: rotate(-45deg) translate(5px,-5px); }
    .navigation{margin-top: 80px; display: block; background-color: var(--tint-bg-blue); transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-property: opacity, visibility, transform; transition-delay: 0s; width: 100%; height: 100vh; left: 0; top: 0; position: fixed; visibility: hidden; opacity: 0; transform: scale(1.05); overflow-y: auto; }
    .navigation.open{visibility: visible; opacity: 1; transform: scale(1); }
    ul.main_menu { display: block; margin: 0; padding: 0; }
    ul.main_menu li::before{display: none;}
    ul.main_menu > li {margin: 0;}
    ul.main_menu > li:not(.button) > a{padding: 20px 20px; display: block; font-size: 20px; line-height: 24px; font-family: 'Graphik-Bold', sans-serif; color: var(--sky); position: relative;}
    ul.main_menu > li.button > a{color: var(--white);}
    ul.main_menu > li:not(.button) > a::after {right: 20px; top: 20px; transform: rotate(180deg); width: 28px; height: 16px; position: absolute; background: url('images/down-arrow.svg') no-repeat; background-size: cover; content: ""; }
    ul.main_menu > li:not(.button) > a.active::after{width: 28px; height: 16px; transform: rotate(0deg); background-size: contain;}
    ul.main_menu > li > ul{display: none; padding: 28px 20px 16px; margin: 0; background: rgba(50, 7, 255, 0.2);}
    ul.main_menu > li > ul > li{margin-bottom: 0;}
    ul.main_menu > li.product-menu-item > ul > li{margin-top: 30px;}
    ul.main_menu > li.product-menu-item > ul > li:first-child{margin-top: 0;}

    ul.main_menu > li > ul > li > a{margin-bottom: 14px; font-size: 16px; line-height: 1.5; color: var(--sky-blue); display: inline-block;}
    ul.main_menu > li > ul > li > a:hover{color: var(--white);}
    ul.main_menu > li > ul > li > ul{margin: 0; display: block !important;}
    ul.main_menu > li > ul > li > ul > li{margin-bottom: 12px;}
    ul.main_menu > li > ul > li > ul > li > a{font-size: 18px; line-height: 26px; color: var(--white); font-family: 'Graphik-Light', sans-serif;} 
	ul.main_menu > li > ul > li > ul > li > a:hover{color: var(--illumin-blue);}
    ul.main_menu > li.button{display: none;} 
    .product-menu-flex{display: none;} 
    .site-main-cover{padding-top: 80px;} 
    body.page-template-confirmation .main-header{background-color: var(--white);}
    .nav-btns{padding: 20px 20px; justify-content: space-between; display: flex; flex-wrap: wrap; width: 100%;}
    .nav-btns span{width: 100%;}

    ul.langauage-btns{justify-content: center; padding: 20px; }
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    body.home .main-header{background-color: var(--white);}
    .header{padding: 8px 0;}
    .logo{flex: 0 0 116px;}
    .navigation{margin-top: 56px;}
    .site-main-cover{padding-top: 56px;} 
}