
.insights-subscribe-wrap{padding: 24px; border-radius: 24px; background: var(--tint-bg-blue);}
.insights-subscribe-main{gap: 12px;}
.insights-subscribe-heading{gap: 8px;}
.insights-subscribe-thumb{flex: 0 0 36px; max-width: 36px;}
.insights-subscribe-text{flex: 1;}
.text-xl{font-size: 28px; line-height: 32px; margin-bottom: 0; color: var(--sky); font-family: 'Graphik-Bold', sans-serif;}
.insights-subscribe-form{flex: 100%;}
.insights-subscribe-sub-head{gap: 8px; align-items: flex-start;}
.insights-subscribe-mail-icon{flex: 0 0 36px;}
.insights-subscribe-title{flex: 0 0 calc(100% - 44px);}
span.insights-subscribe-title{font-size: 28px; line-height: normal; display: block; font-family: 'Graphik-Bold', sans-serif; color: var(--sky);}
.insights-subscribe-form form.hs-form-private{display: flex; gap: 14px; margin: 0;}
.insights-subscribe-form form.hs-form-private .hs_email > label{display: none;}


@media screen and (max-width: 1023px) and (min-width: 200px) {
    .insights-subscribe-section{width: 100%;}
}
