
.measurable-section{background-color: var(--tin-color); overflow: hidden;}
.measurable-bar{ width: 34px; height: auto; background: linear-gradient(180deg, #3207FF 0%, #8200F0 100%); opacity: 0.75; border-radius: 8px 8px 0px 0px; display: block; transition: all 0.5s ease-in-out; animation: measurableUp 0.75s ease;}
@keyframes measurableUp{
    0% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.measurable-list{z-index: 1;}
.measurable-bg{bottom: 0; left: 55px; position: absolute; z-index: -1;}
span.measurable-number{margin-bottom: 12px; display: block; font-size: 88px; line-height: 88px; color: var(--illumin-blue); font-family: 'Graphik-Bold', sans-serif;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .measurable-main{padding: 80px 0 0;}
    .measurable-title{max-width: 770px; margin-bottom: 140px;}

    .measurable-views{gap: 44px; position: relative;}
    .measurable-views::before, .measurable-views::after{width: 100vw; height: 218px; left: calc(100% + 23px); bottom: 0; position: absolute; content: ""; background-image: url('images/Bars-Between.svg'); background-repeat: repeat-x;}
    .measurable-views::before{right: calc(100% - 23px); left: auto;}
    .measurable-list{flex: 0 0 calc(33.333% - 30px); gap: 28px;}
    .measurable-text{flex: 1; padding-bottom: 32px;  transition: all 0.5s ease-in-out;}
    .measurable-text h4{font-size: 28px; line-height: 32px;}
    .measurable-text p{max-width: 330px;}   
    .measurable-bg{bottom: 0;}

    
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    span.measurable-number{font-size: 60px; line-height: 68px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .measurable-main{padding: 60px 0 20px;}
    .measurable-title{margin-bottom: 40px;}
    .measurable-views{display: block;}
    .measurable-list{margin-bottom: 40px; gap: 28px;}
    .measurable-text{flex: 0 0 calc(100% - 62px);}
    .measurable-text h4{font-size: 28px; line-height: 32px;}
    @keyframes measurableUp{
        0% {
            transform: translate3d(-30px, 0, 0);
            opacity: 0;
        }
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .measurable-main{padding: 40px 0 40px;}
    .measurable-title{margin-bottom: 40px;}
    .measurable-title h3{font-size: 24px; line-height: 28px;}
    .measurable-views{display: block;}
    .measurable-list{margin-bottom: 40px; gap: 28px;}
    .measurable-list:last-child{margin-bottom: 0;}
    .measurable-text{flex: 0 0 calc(100% - 62px); padding: 14px 0 56px;}
    span.measurable-number{font-size: 56px; line-height: 60px; margin-bottom: 27px;}
    .measurable-text h4{font-size: 24px; line-height: 28px; margin-bottom: 12px;}
    @keyframes measurableUp{
        0% {
            transform: translate3d(-20px, 0, 0);
            opacity: 0;
        }
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
    .measurable-bg svg{width: 100%;}
}