
.at4-visually-hidden {position: absolute; clip: rect(1px, 1px, 1px, 1px); padding: 0; border: 0; overflow: hidden; display: none; }
.at-resp-share-element .at-share-btn {display: inline-block; display: inline; zoom: 1; margin: 0 2px 5px; padding: 0; overflow: hidden; line-height: 0; text-decoration: none; text-transform: none; color: #fff; cursor: pointer; transition: all .2s ease-in-out; border: 0; background-color: transparent; }
.at-style-responsive .at-share-btn {padding: 5px; }
.at-icon-wrapper {display: inline-block; }
.at-resp-share-element .at4-share-count-container{display: none;}
.social-share-icons{width: 100%; padding: 0; padding-bottom: 24px; gap: 38px; margin-bottom: 24px; height: auto; border-radius: 0; border-bottom: 4px solid var(--Dark-parma-violet); background-color:transparent; justify-content: space-between;} 
span.share{color: var(--black); font-size: 20px; line-height: 24px; font-weight: 700;}
.addthis_inline_share_toolbox{flex: 1;}
.social-share-icons .at-share-btn-elements{width: 100%; gap: 38px; display: flex; flex-wrap: wrap;}
.social-share-icons .at-share-btn-elements a.at-icon-wrapper.at-svc-compact{height: auto; margin-bottom: 5px; background-color: transparent !important; font-size: 24px; color: var(--white) !important; display: none;}
.social-share-icons .at-share-btn-elements a.at-icon-wrapper span.at4-visually-hidden {display: none; } 
.social-share-icons .at-share-btn-elements a.at-icon-wrapper span.at-icon-wrapper svg {display: none; }
.social-share-icons .at-resp-share-element .at-share-btn:focus, .social-share-icons .at-resp-share-element .at-share-btn:hover {transform: none; }
.social-share-icons .at-share-btn-elements a.at-icon-wrapper {padding: 0; margin: 0; width: auto; height: auto; font-size: 24px; line-height: normal; border-radius: 0 !important; background-color: transparent !important; color: var(--white); position: relative; display: block; }
.social-share-icons .at-share-btn-elements a.at-icon-wrapper:hover{background: transparent !important; color: var(--sky-blue) !important;}
.social-share-icons .at-share-btn-elements a.at-icon-wrapper span.at-label{display: none;}
.social-share-icons .at-share-btn-elements a.at-icon-wrapper span.at-icon-wrapper {width: 100% !important; height: 100% !important; line-height: inherit !important; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; float: none;  font-weight: 400; letter-spacing: 0; margin: 0 auto;}
.social-share-icons .at-share-btn-elements a.at-svc-email span.at-icon-wrapper{font-weight: 900; }
.social-share-icons .at-share-btn-elements a.at-svc-facebook span.at-icon-wrapper::after {content: "\f39e"; } 
.social-share-icons .at-share-btn-elements a.at-svc-twitter span.at-icon-wrapper::after {content: "\f099"; } 
.social-share-icons .at-share-btn-elements a.at-svc-linkedin span.at-icon-wrapper::after{content: "\f0e1"; }
.social-share-icons .at-share-btn-elements a.at-svc-email span.at-icon-wrapper::after{content: "\f0e0"; }
.social-share-icons .at-share-btn-elements a.at-svc-compact span.at-icon-wrapper::after{content: "\f1e0"; }
.social-share-icons .at-share-btn-elements a.at-svc-mailto span.at-icon-wrapper{font-weight: 900; }
.social-share-icons .at-share-btn-elements a.at-svc-mailto span.at-icon-wrapper::after{content: "\f0e0"; }
.social-share-icons #st-1.st-animated .st-btn {background-color: var(--Pale-Parma-Violet) !important; color: var(--Dark-parma-violet) !important;}
.social-share-icons #st-1.st-animated .st-btn:hover{opacity: 1 !important; top: -4px !important; background-color: var(--Pale-Parma-Violet) !important; color: var(--white) !important;}

/*-- media css starts here --*/
@media only screen and (max-width: 1023px) and (min-width: 200px){
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .social-share-icons{padding-bottom: 32px; margin-bottom: 34px;}
}
@media only screen and (max-width: 370px) and (min-width: 200px){
    .social-share-icons{gap: 24px;}
    .social-share-icons .at-share-btn-elements{gap: 24px;}
}