




.subscribe-wrap{padding: 45px 0 63px;}
.subscribe-text{font-size: 20px; line-height: 28px;}
.subscribe-sub-head{gap: 8px; margin-bottom: 8px;}
.subscribe-mail-icon{width: 28px; height: 28px;}
.subscribe-sub-head span.optional-text{margin-bottom: 0; color: var(--black);}
.subscribe-form{position: relative;}
.subscribe-form .frm_fields_container{display: block;}
.subscribe-form .frm_forms .frm_form_fields .frm_form_field{margin: 0 0 11px 0;}
.subscribe-form .frm_fields_container .frm_form_field input:not([type="checkbox"])::-webkit-input-placeholder{color: var(--black-25); font-family: 'Graphik-Regular'}
.subscribe-form .frm_fields_container .frm_form_field input:not([type="checkbox"]):-moz-placeholder{color: var(--black-25); font-family: 'Graphik-Regular'}
.subscribe-form .frm_fields_container .frm_form_field input:not([type="checkbox"])::-moz-placeholder{color: var(--black-25); font-family: 'Graphik-Regular'}
.subscribe-form .frm_fields_container .frm_form_field input:not([type="checkbox"]):-ms-input-placeholder{color: var(--black-25); font-family: 'Graphik-Regular'}
.subscribe-form .frm_fields_container .frm_form_field input:not([type="checkbox"]){padding: 12px 20px; height: 48px; font-size: 16px; line-height: 24px; font-family: 'Graphik-Regular', sans-serif;  border-radius: 16px; border: 2px solid rgba(81, 41, 255, .10); background: var(--tint-bg-blue);}
.subscribe-form .frm_fields_container .frm_form_field input:not([type="checkbox"]):focus{background-color: var(--tint-bg-blue) !important;}
.subscribe-form .frm_forms .frm_form_fields .frm_submit button.frm_button_submit{padding: 13px 16px 11px; font-size: 16px; line-height: 20px; background: var(--purple-color);}
.subscribe-form .frm_forms .frm_form_fields .frm_submit button.frm_button_submit:hover{background: var(--purple-color);}
.subscribe-form .frm_forms .frm_form_fields .frm_primary_label{font-size: 16px; line-height: 24px; margin-bottom: 5px; display: block;}
.subscribe-form .frm_forms .frm_form_fields .frm_primary_label span{color: #f00;}
.subscribe-form legend.frm_screen_reader{display: none;}
.subscribe-angle{overflow: hidden; animation: 5s subscribeZooming infinite linear; animation-delay: 0s; transform: translateX(0); }
 @keyframes subscribeZooming {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(20px);
        opacity: 0.75;
        animation-delay: 5s;
    }
}


/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    .subscribe-text h3{font-size: 40px; line-height: 48px; margin-bottom: 4px;}
    body.single-post .subscribe-wrap{padding-top: 72px;}
}
@media only screen and (min-width: 1024px){
    .subscribe-main{gap: 64px;}
    .subscribe-text{flex: 0 0 485px;}
    .subscribe-icon{flex: 0 0 86px;}
    .subscribe-angle{width: 87px; height: 132px;}
    .subscribe-form{flex: 1;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .subscribe-main{gap: 30px;}
    .subscribe-text { flex: 0 0 445px; font-size: 18px; line-height: 26px; }
    .subscribe-form{width: calc(100% - 592px);}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .subscribe-main{gap: 32px;}
    .subscribe-text{flex: 0 0 268px;}
    .subscribe-text h3{font-size: 28px; line-height: 32px;}
    .subscribe-icon{flex: 0 0 87px;}
    .subscribe-angle{width: 86px; height: 132px;}
    .subscribe-form{width: calc( 100% - 419px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .subscribe-wrap{padding: 25px 0 43px;}
    .subscribe-main{display: block;}
    .subscribe-text{font-size: 18px; line-height: 26px; margin-bottom: 19px;}
    .subscribe-text h3{font-size: 28px; line-height: 32px; margin-bottom: 4px;}
    .subscribe-form .frm_forms .frm_form_fields .frm_submit button.frm_button_submit{width: fit-content;}
}