

.trusted-by-main{background-color: rgba(0, 0, 0, 0.05);}
span.trusted-optional{font-size: 20px; line-height: 24px; background: linear-gradient(180deg, #3207FF 0%, #8200F0 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; }


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .trusted-by-main{gap: 56px; padding: 12px 32px 8px;}
    .trusted-by-text{flex: 0 0 130px;}
    .trusted-by-logos{flex: 0 0 calc(100% - 186px); gap: 5px 56px;}
    .trusted-by-logo{flex: 0 0 calc(20% - 45px)}
    body.page-template-product .trusted-by-main{margin: 81px 0 85px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .trusted-by-main{ padding: 20px; display: block;}
    .trusted-by-logos{gap: 0 20px;}
    .trusted-by-logo{flex: 0 0 calc(33.333% - 15px);}
    body.page-template-product .trusted-by-main{margin-bottom: 80px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .trusted-by-main{ padding: 20px 20px 9px; display: block;}
    body.page-template-flex-default .trusted-by-main{margin-bottom: 31px;}
    span.trusted-optional{font-size: 16px; line-height: 20px; text-align: center; display: block;}
    .trusted-by-logos{gap: 0 20px; justify-content: center;}
    .trusted-by-logo{flex: 0 0 calc(33.333% - 15px);}    
    body.page-template-product .trusted-by-main{margin-bottom: 60px;}

}