
.trusted-by-section{margin-top: -72px; background: none; position: relative; z-index: 0;}
.trusted-by-section::before{width: 100%; height: calc(100% - 72px); top: 72px; left: 0; position: absolute; background: var(--tint-bg-blue); content: ""; z-index: -1;}
.trusted-by-main{background-color: var(--white);}
body.page-template-product-channel .trusted-by-main, body.page-template-product .trusted-by-main, body.page-template-company-overview .trusted-by-main{background-color: var(--tint-bg-blue);}
body.page-template-product-channel .trusted-by-section::before, body.page-template-product .trusted-by-section::before{background: var(--white);}
body.page-template-company-overview .trusted-by-section::before{background: var(--white);}
span.trusted-optional{font-size: 20px; line-height: 24px; background: linear-gradient(180deg, #3207FF 0%, #8200F0 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; }


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .trusted-by-main{gap: 51px; padding: 24px 32px;}
    body.page-template-company-overview .trusted-by-main{margin-top: 80px;}
    .trusted-by-text{flex: 0 0 130px;}
    .trusted-by-logos{flex: 0 0 calc(100% - 181px); gap: 5px 56px;}
    .trusted-by-logo{flex: 0 0 calc(16.5% - 45px)}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .trusted-by-logos{gap: 5px 30px;}
    .trusted-by-logo{flex: 0 0 calc(16.5% - 24px);}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .trusted-by-main{ padding: 24px 32px; display: block;}
    .trusted-by-text{text-align: center;}
    .trusted-by-logos{gap: 0 32px; justify-content: center;}
    .trusted-by-logo{flex: 0 0 calc(20% - 26px);}
    /* body.page-template-product .trusted-by-main{margin-bottom: 80px;} */

    body.page-template-company-overview .trusted-by-section{margin-top: 0;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .trusted-by-section{margin-top: -40px; padding-bottom: 32px;}
    body.single-case-study .trusted-by-section{padding-bottom: 0;}
    .trusted-by-section::before{height: calc(100% - 40px); top: 40px;}
    body.page-template-product .trusted-by-section, body.page-template-product-channel .trusted-by-section{margin-top: -48px;}
    body.page-template-product .trusted-by-section::before, body.page-template-product-channel .trusted-by-section::before{height: calc(100% - 48px); top: 48px;}
    body.page-template-company-overview .trusted-by-section{padding-bottom: 0; margin: 20px 0 0;}
    body.page-template-company-overview .trusted-by-text{margin-bottom: 20px;}
    .trusted-by-main{padding:20px 24px 7px; display: block;}
    body.page-template-flex-default .trusted-by-main{margin-bottom: 31px;}
    span.trusted-optional{font-size: 16px; line-height: 20px; text-align: center; display: block;}
    .trusted-by-logos{gap: 0px 16px; justify-content: center;}
    .trusted-by-logo{flex: 0 0 calc(33.333% - 11px);}    
    /* body.page-template-product .trusted-by-main{margin-bottom: 60px;} */

}