.contact-lists{padding-top: 36px;}
.contact-list{margin-bottom: 24px; background-color: var(--light-purple); border-radius: 16px;}
.contact-list:last-child{margin-bottom: 0;}
.contact-list.active{box-shadow: 0px 12px 24px rgba(151, 173, 200, 0.5);}
.contact-title{padding: 24px 40px 24px 20px; background-color: var(--Pale-Parma-Violet); border-radius: 16px; font-size: 24px; line-height: 28px; cursor: pointer; position: relative; font-weight: 700;}
.contact-title.open{background-color: var(--light-purple); color: var(--black);}
.contact-title::after{right: 20px; top: 28px; transform: rotate(0deg); width: 14px; height: 18px; position: absolute; transition: all 0.5s ease; background-image: url('images/right-arrow-new.svg'); background-repeat: no-repeat; background-size: contain; content: "";}
.contact-title.open::after{transform: rotate(90deg);}
.contact-address{display: none; padding: 4px 20px 24px; font-size: 18px; line-height: 26px;}
.contact-location{margin-bottom: 24px;}
.contact-location:last-child{margin-bottom: 0;}
.contact-loc{gap: 8px; margin-bottom: 8px; font-size: 20px; line-height: 24px; color: var(--Mid-parma-violet);}
.contact-loc img{flex: 0 0 20px;}
.contact-address hr{width: 100%; height: 2px; margin: 0 0 24px; background-color: var(--Mid-parma-violet);}
.contact-address p{margin-bottom: 8px;}
.contact-address a{color: var(--black); font-weight: 700;}
.contact-address a:hover{color: var(--illumin-blue);}

.contact-form{padding: 32px; background: #FFFFFF; box-shadow: 0 0 128px var(--Pale-Parma-Violet); }
.contact-form legend.frm_screen_reader{display: none;}

.contact-text span.optional-text{font-weight: 700; color: var(--Mid-parma-violet);}


/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    .contact-text span.optional-text{margin-bottom: 16px;}
    .contact-text h1{font-size: 40px; line-height: 48px;}
}
@media only screen and (min-width: 1024px){
    .contact-main{gap: 96px; padding: 80px 0 75px;}
    .contact-text{flex: 0 0 352px;}
    .contact-form{flex: 0 0 calc(100% - 448px);}
    body.page-template-investor-info .contact-form{padding: 40px 40px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .contact-main{gap: 30px; padding: 80px 0 60px;}
    .contact-form { flex: 0 0 calc(100% - 382px); }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){

    .contact-main{display: block; padding: 48px 0 48px;}
    .contact-text{margin-bottom: 40px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .contact-main{display: block; padding: 48px 0 48px;}
    body.page-template-investor-info .contact-main{padding-top: 64px;}
    .contact-text{margin-bottom: 40px;}
    .contact-text h1{font-size: 32px; line-height: 40px;}
    body.page-template-investor-info .contact-text h1{font-size: 40px; line-height: 48px;}
    .contact-lists { padding-top: 38px; }
    .contact-form { padding: 24px; }
    body.page-template-investor-info .contact-form{padding-top: 29px;}
}